:root {
  --hue: 190;
  --primary-color: #e8590c;
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: #fff4e6;
  --brand-light-2: #fff9f1;
  --brand-dark: hsl(var(--hue), 100%, 14%);

  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

body {
  font-family: "DM Sans";
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);
}

#navigation {
  position: absolute;
}

#form {
  background-color: var(--brand-beige);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu ul:first-child {
  margin-bottom: 150px;
}

.box {
  color: var(--primary-color);

  background-color: var(--brand-light-2);
  padding: 15px;
  border-radius: 4rem;
  width: 20%;
}
fieldset {
  border: 2px solid var(--primary-color);
  padding: 30px;
  border-radius: 30px;
}
legend {
  border: 1px solid var(--primary-color);
  padding: 10px;
  text-align: center;
  color: #fff4e6;
  background-color: var(--primary-color);
  border-radius: 8px;
}
.inputBox {
  position: relative;
}
.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
  color: var(--primary-color);
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}
.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 0.5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -20px;
  font-size: 12px;
  color: var(--primary-color);
}
#data_nascimento {
  display: inline;
  border: none;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  color: #e8590c;
}
#submit {
  background-color: var(--brand-light);
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 4rem;
  padding: 15px;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem;
  cursor: pointer;
}
#submit:hover {
  background: var(--primary-color);
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 200ms;
}
#sexo {
  display: flexbox;
  text-align: left;
}

.menu ul:first-child {
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  #navigation {
    position: static;
  }
  #form {
    flex-direction: column;
    margin-top: 7.2rem; /* altura do menu */
    margin-bottom: 5rem; /* altura do footer */
    width: auto;
  }
  .box {
    width: 80%;
  }

  footer {
    position: static;
  }
}
